ul {
    list-style:none;
    height: 20px;
}

 li {
    margin: 0 20px 0 30px;
    padding: 0 10px 0 10px;
    border : 0;
    float: left;
} 

.UID ul li {
    text-align: center;

}

.UID {
text-align: center;
padding-top: 15px;
}

div.ulLiPosition{
    padding-top: 20px;
    text-align: center;
    width:100%;
    display: flex;
    justify-content: center;
    padding-right: 55px;
}

ul li.position{
    width:100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

